header {
    width: 100%;
    background-color: var(--box);
    display: flex;
    justify-content: space-between;
}
.header__main-icon img {
    margin:  10px 20px;
    height: 80px;
}
.header__nav {
    float: left;
}
.header__nav ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
}
.header__nav li {
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.header__nav li.active {
    background-color: var(--highlight);
}

@media (max-width: 500px) {
    header {
        flex-flow: column;
    }
    .header__main-icon img {
        margin: 0;
    }
    .header__main-icon {
        width: 80px;
        margin: 10px auto;
    }
    .header__nav {
        margin: 15px;
    }
    .header__nav li.active {
        padding: 10px;
        border-radius: 10px;
    }
}