.banner__container {
    width: 100%;
    background-image: url('../assets/img/caracas_cake_tortas.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 5px #262626;
}
.banner__text {
    flex-flow: column;
    color: white;
    margin-left: 10%; 
}
.banner__text h2{
    font-size: 2rem;
    margin-left: 11%;
}
.about__container {
    text-align: center;
    position: relative;
    overflow-x: hidden;
    padding: 20px 0;
}
.about__background {
    width: 130%;
    left: -10%;
    top: -40%;
    background: #7A5C56;
    height: 500px;
    position: absolute;
    z-index: -1;
    transform: rotate(-5deg);
}
.about__container h2 {
    padding: 30px 0;
}
.about__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about__content p{
    width:  40%; 
    text-align: right;
    color: #462126;
}
.about__content img {
    width: 35%;
}
.about__container button {
    margin-top: 30px
}

.products__container {
    background-color: #DABAB8;
    text-align: center;
    padding: 20px 0;
}
.products__container h2{
    padding: 20px 0;
    text-shadow: 0px 3px 5px #262626;
}
.products__cards {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}
.products__container > p {
    margin: 30px 100px;
}